<html>
<title>First step!</title>
<body>
<div>
    <form method="post">
        <input type="text" name="name" placeholder="Input Name">
        <input type="submit" placeholder="Submit Name">
    </form>
</div>

<div>Hello, {{name}}</div>
<a href="/sum">Sum service</a>
</body>
</html>