<html>
<title> Second step! Sum service</title>

<div>
    <form method="post">
        <input type="text" name="X" placeholder="Input: X">
        <input type="text" name="Y" placeholder="Input: Y">
        <input type="submit" placeholder="Get Sum">
    </form>
</div>
<div>
    Sum {{X}} and {{Y}} equals {{sum}}.
</div>
</html>